{% extends 'base.html.twig' %}

{% block title %}DigitalProjects{% endblock %}

{% block body %}
    <h1>DigitalProjects</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ digital_project.id }}</td>
            </tr>
            <tr>
                <th>ProjectName</th>
                <td>{{ digital_project.projectName }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ digital_project.picture }}</td>
            </tr>
            <tr>
                <th>Abstract</th>
                <td>{{ digital_project.abstract }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('digital_projects_index') }}">back to list</a>

    <a href="{{ path('digital_projects_edit', {'id': digital_project.id}) }}">edit</a>

    {{ include('digital_projects/_delete_form.html.twig') }}
{% endblock %}
